[package]
name = "pooled-tonic-client"
version = "0.1.0"
edition = "2024"
rust-version = "1.85.0"

[dependencies]
http = "1.4.0"
tower = { version = "0.5.2", features = ["util", "timeout"] }
hyper = { version = "1.8.1", default-features = false }
hyper-util = { version = "0.1.19", default-features = false, features = [
    "client",
    "client-legacy",
    "http2",
] }
tonic = { version = "0.14.2", default-features = false }

tokio = { version = "1.48.0", optional = true, features = ["net"] }

[dev-dependencies]
prost = "0.14.1"
tonic-prost = "0.14.2"
tokio = { version = "1.48.0", features = ["macros"] }

[features]
default = ["custom-connector", "unix-connector"]
_connector = []
unix-connector = ["_connector", "dep:tokio", "hyper-util/tokio"]
custom-connector = ["_connector", "hyper-util/tokio"]
